.btn {
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        position: relative;
        display: inline-block;
        background-color: $color-secondary;
        color: $white;
        text-decoration: none;
        padding: 1rem 4rem;
        border-radius: $border-radius-lg;
        transition: all 0.2s;
        border: none;
        cursor: pointer;

    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($black, .2);
    }

    &--blue {
        background-color: $color-secondary;
        color: $white;

        &::after {
            background-color: $color-secondary;
        }
    }

    &--animated {
        animation: move-top .5s ease-out .15s;
    }

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: inline-block;
        border-radius: $border-radius-lg;
        z-index: -1;
        transition: all .4s ease;
    }
}

.btn-text,
.btn-text:visited,
.btn-text:link {
    text-decoration: none;
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
    display: inline-block;
    font-size: 1.5rem;
    padding: 3px;
    transition: all .2s;

    &:hover{
        color: $color-gray-light;
        background-color: $color-secondary;
        box-shadow: 0 1rem 2rem rgba($black, .15);
        transform: translateY(-2px);
    }
    
    &::active {
        box-shadow: 0 .5rem 2rem rgba($black, .15);
        transform: translateY(0);
    }
}