.m-bottom-small {
    margin-bottom: 1rem !important;
}

.m-bottom-medium {
    margin-bottom: 5rem !important;
}

.m-bottom-huge {
    margin-bottom: 10rem !important;
}

.u-center {
    text-align: center !important;
}