$color-primary: rgba(99,98,206, 1);
$color-primary-light: rgba(203, 211, 242, 1);
$color-secondary: rgba(249, 0, 99, 1);
$color-secondary-light: rgba(242, 201, 238, 1);
$color-gray-light: rgba(238, 240, 245, 1);
$color-gray-dark: rgba(43, 45, 66, 1);
$color-gray-light-2: #ccc;
$white: #fff;
$black: #000;

$default-font-size: 1.6rem;

$grid-max-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

$border-circle: 50%;
$border-radius-md: 3rem;
$border-radius-lg: 5rem;